.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;
  top: 100px;

  width: 100vw;
  height: 100%;
  min-height: min-content;
  
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;

  z-index: 1;
  margin-top: -90px;
  background-color: #e6090900;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1rem;
}
.ag-canvas_svg path {
  fill: #3c3c46;
  fill-opacity: 1;
  stroke: #fffefe;
  stroke-opacity: 1.5;
  stroke-width: 1;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}